body {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

img {
  width: 100%;
}

#style {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#buy-mochi {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h4,
h5 {
  margin-top: 15px;
  margin-bottom: 15px;
}
